* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: rgb(17, 34, 66);
}

input {
  background: whitesmoke;
  border: none;
  width: 100%;
  height: 70px;
  border-radius: 12px;
  font-size: 2em;
  padding: 0 0.8em;
  opacity: 0.4;

  &:focus, &:active {
    outline: none;

  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: block;
  flex-wrap: wrap;

  .projects {
    display: flex;
    justify-content: space-between;

    .project {
      max-width: 240px;
      height: 240px;
      margin: 10px;
      background: whitesmoke;
      flex: 1;
      padding: 15px;


    }
  }
}
